 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
.tudo{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
}

.flex-container{
margin: 0px;
padding: 50px;
display: flex;
list-style: none;
border: 10px solid red;

}

.flex-itens{
margin: 10px;
background-color: lightseagreen;
border-radius: 25px;
font-size: 25px;
border: 5px solid orange;
}
.column{
flex-direction: column;
float: left;
}
.column li{
margin:2px ;

}
/*
img{
top: 0;
left: 0;
position: absolute;
width:100%;
height: 100wh;
object-fit: cover;
opacity: 0.15;
}
*/
/*PRIMEIRA ---------------------------------------- */
.um{
  width: 100%;
  height: 900px;
  border: 5px solid blue ;

}
.container-one{
width: 100%;
height: 700px;
text-align: center;

}
.one p{
padding: 10px;  
background: black;
border-radius: 50px;
color: white;
}
.one{
width: 50%;
display: flex;  
margin-top: 150px;
}
.oneone{
width: 30%;
display: flex;
margin-top: 120px;
  /*
width: 50%;
height: 700px;

*/
}

.oneone h2{
  position: absolute;
  margin-top: 320px;
  margin-left: 150px;
  margin: 70px;
  /*
  display: flex;
  */

}
.oneone p{
  font-size: 1.5em;
  background-color: red;
  color: white;
  border-radius: 50px 0px;
  padding: 15px;
}

.content1 h2{
position: absolute;
font-family: 'Poppins', sans-serif;
font-size: 4em;
 transform: translate(10%,10%);
}
.content1 h2:nth-child(1){
color: transparent;
-webkit-text-stroke:  2px #131313; 
}
.content1 h2:nth-child(2){
  color:  #FF0000;
  animation: animate 4s ease-in-out infinite;
}
.contato{
  border-radius: 20px;
  background: blue;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 24px;
  margin-top: 20px;
  border: none;
}


/*SEGUNDA PARTE DO CODIGO---------------------------------------*/
.dois{
  width: 100%;
  height: 900px;

}
.container-twoo{
width: 100%;
height: 700px;
text-align: center; 
}
.twoo p{
padding: 10px;  
background: black;
border-radius: 50px;
color: white;
}
.twoo{
width: 50%;
display: flex;  
margin-top: 150px;
}
.content2 h2{
position: absolute;
font-family: 'Poppins', sans-serif;
font-size: 4em;
transform: translate(10%,10%);
}
.content2 h2:nth-child(1){
color: transparent;
-webkit-text-stroke:  2px #131313; 
}
.content2 h2:nth-child(2){
  color:  #FF0000;
  animation: animate 4s ease-in-out infinite;
}
.contato{
  border-radius: 20px;
  background: blue;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 24px;
  margin-top: 20px;
  border: none;
}
/*TERCEIRA PARTE DO CODIGO---------------------------------------------*/

.tres{
  width: 100%;
  height: 900px;
  
}
.container-tree{
width: 100%;
height: 700px;
text-align: center;
}
.tree p{
padding: 10px;  
background: black;
border-radius: 50px;
color: white;
}
.tree{
width: 50%;
display: flex;  
margin-top: 150px;
}
.content3 h2{
position: absolute;
font-family: 'Poppins', sans-serif;
font-size: 4em;
transform: translate(10%,10%);
}
.content3 h2:nth-child(1){
color: transparent;
-webkit-text-stroke:  2px #131313; 
}
.content3 h2:nth-child(2){
  color:  #FF0000;
  animation: animate 4s ease-in-out infinite;
}
.contato{
  border-radius: 20px;
  background: blue;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 24px;
  margin-top: 20px;
  border: none;

}


@media (max-width: 900px){
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.oneone h2{
  /*margin-top: 250px;*/
  margin-left:0px;
  /*
  background-color: none;
  color: white;
max-height: 400px;
*/

 }
 .oneone p{
  border: 2px solid black;
  font-size: 0.8em;
  background-color: white ;

  border:none;
  border-radius: 0px; 
  color: black;
/*
  margin-top: 250px;
*/

}


/*
.oneone h2{
  position: absolute;
  margin-top: 320px;
  margin-left: 150px;
  margin: 70px;
  /*
  display: flex;


}

  */








}
@keyframes animate{
  00%,100%{
clip-path: polygon(5% 31%, 15% 37%, 28% 38%, 45% 48%, 60% 48%, 69% 44%, 76% 40%, 83% 33%, 93% 35%, 100% 43%, 100% 100%, 0 100%, 0 13%);
  }
  50%{
clip-path: polygon(6% 48%, 11% 50%, 16% 54%, 26% 61%, 39% 65%, 55% 52%, 76% 50%, 89% 56%, 95% 66%, 100% 77%, 100% 100%, 0 100%, 0 39%);
}
